In [ ]:
import duckdb
import pandas as pd
import os
from datetime import datetime

In [ ]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [ ]:
arquivo = 'z0019_2.csv'
data_ingestao = datetime.now()
df = pd.read_csv(f'../landing/{arquivo}' , sep=';')
df['nome_arquivo'] = arquivo
df['data_ingestao'] = data_ingestao
df.head ()

In [ ]:
con.execute ("""
    CREATE TABLE IF NOT EXISTS bronze_z0019 (
     NATBR VARCHAR,
     MAKTX VARCHAR,
     WERKS VARCHAR,
     MAINS VARCHAR,
     LABST VARCHAR,
     nome_arquivo VARCHAR,
     data_ingestao TIMESTAMP       
    )
""")

In [ ]:
con.execute("INSERT INTO  bronze_z0019 SELECT * FROM df")

In [ ]:
resultado = con.execute ('SELECT * FROM bronze_z0019').fetchdf()
resultado.head(10)

In [ ]:
#con.execute("DROP TABLE bronze_produtos")

In [ ]:
#con.execute("ALTER TABLE bronze_produtos RENAME TO bronze_z0019")

In [ ]:
con.close()